<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bradorego.newsflash" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>NewsFlash</name>
    <description>
      Tinder for RSS. Quickly and easily see which stories are interesting and save them for later, pass on the ones that aren't.
    </description>
    <author email="newsflashnewsapp@gmail.com" href="http://bradorego.com/">
      Brad Orego
    </author>
    <content src="http://newsflashnewsapp.herokuapp.com" />
    <access origin="*" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <!-- Don't store local date in an iCloud backup. Turn this to "cloud" to enable storage
         to be sent to iCloud. Note: enabling this could result in Apple rejecting your app.
    -->
    <preference name="BackupWebStorage" value="none" />

    <feature name="StatusBar">
      <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
</widget>
