doctype html
html(ng-app='newsflash')
  head
    meta(charset='utf-8')
    title News Flash
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    link(href='stylesheets/ionic.min.css', rel='stylesheet')
    link(href='stylesheets/newsflash.css', rel='stylesheet')
    script(src='javascripts/ionic.bundle.min.js')
    script(src='javascripts/ionic.cards.js')
    script(src='javascripts/newsflash.js')
    script(src='javascripts/newsflash.controllers.js')
    script(src='javascripts/newsflash.services.js')
  body
    block content
